<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/ugcqz6ohbvff804xp84y4kqnvvk3bq1g.png" width = 300, align = "center"></a>

<h1 align=center><font size = 5>Lab: Working with a real world data-set using SQL and Python</font></h1>

# Introduction

This notebook shows how to work with a real world dataset using SQL and Python. In this lab you will:
1. Understand the dataset for Chicago Public School level performance 
1. Store the dataset in an Db2 database on IBM Cloud instance
1. Retrieve metadata about tables and columns and query data from mixed case columns
1. Solve example problems to practice your SQL skills including using built-in database functions

## Chicago Public Schools - Progress Report Cards (2011-2012) 

The city of Chicago released a dataset showing all school level performance data used to create School Report Cards for the 2011-2012 school year. The dataset is available from the Chicago Data Portal: https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t

This dataset includes a large number of metrics. Start by familiarizing yourself with the types of metrics in the database: https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?download=true

__NOTE__: Do not download the dataset directly from City of Chicago portal. Instead download a more database friendly version from the link below.
Now download a static copy of this database and review some of its contents:
https://ibm.box.com/shared/static/f9gjvj1gjmxxzycdhplzt01qtz0s7ew7.csv

### Store the dataset in a Table
In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in the previous lab, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, __it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II__. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next". 

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the CHICAGO PUBLIC SCHOOLS dataset and load the dataset into a new table called __SCHOOLS__.

<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/uc4xjh1uxcc78ks1i18v668simioz4es.jpg"></a>

### Connect to the database
Let us now load the ipython-sql  extension and establish a connection with the database

In [14]:
import pandas as pd
school = pd.read_csv('https://ibm.box.com/shared/static/f9gjvj1gjmxxzycdhplzt01qtz0s7ew7.csv')

In [2]:
%load_ext sql

In [4]:
%sql PERSIST school

 * ibm_db_sa://mst42737:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB

'Persisted school'

### Query the database system catalog to retrieve table metadata

##### You can verify that the table creation was successful by retrieving the list of all tables in your schema and checking whether the SCHOOLS table was created

In [5]:
# type in your query to retrieve list of all tables in the database for your db2 schema (username)

%sql SELECT * FROM syscat.tables where tabschema='MST42737';

 * ibm_db_sa://mst42737:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('MST42737', 'INSTRUCTOR', 'MST42737', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2019, 1, 13, 15, 5, 15, 908460), datetime.datetime(2019, 1, 13, 15, 5, 16, 46961), datetime.datetime(2019, 1, 13, 15, 5, 16, 46968), datetime.datetime(2019, 1, 13, 16, 54, 50, 962623), 5, 4, 2434, 3, 1, 0, 1, -1, -1, -1, 0, 'mst42737space1', None, None, 0, 0, 0, 1, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 49, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2019, 1, 13, 15, 5, 15, 908460), 0, ' ', None, None, 'N', 'MST42737', ' ', ' ', ' ', datetime.date(2019, 1, 13), ' ', 'N', 'R', 'N', -1.0, None),
 ('MST42737', 'INTERNATIONAL_STUDENT_TEST_SCORES', 'MST42737', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2019, 1, 13, 15, 43, 6, 170693), datetime.datetime(2019, 1, 13, 15, 43, 6, 170693), datetime.datetime(2019, 1, 13, 15, 43, 6, 170693), datetime.datetime(2019, 1, 13, 15, 44, 20, 489505), 4, 5, 2434, 99, 1, 0, 1, -1, -1, -1, 0, 'mst42737space1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 49, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2019, 1, 13, 15, 43, 6, 170693), 0, ' ', None, None, 'N', 'MST42737', ' ', ' ', ' ', datetime.date(1, 1, 1), ' ', 'N', 'R', 'N', -1.0, None),
 ('MST42737', 'CHICAGO_SOCIOECONOMIC_DATA', 'MST42737', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2019, 1, 13, 16, 31, 44, 603170), datetime.datetime(2019, 1, 13, 16, 31, 44, 603170), datetime.datetime(2019, 1, 13, 16, 31, 44, 934937), datetime.datetime(2019, 1, 13, 16, 34, 21, 117985), 10, 6, 2434, 78, 1, 0, 1, -1, -1, -1, 0, 'mst42737space1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 111, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2019, 1, 13, 16, 31, 44, 603170), 0, ' ', None, None, 'N', 'MST42737', ' ', ' ', ' ', datetime.date(1, 1, 1), ' ', 'N', 'R', 'N', -1.0, None),
 ('MST42737', 'EMPLOYEES', 'MST42737', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2019, 1, 13, 19, 12, 39, 261496), datetime.datetime(2019, 1, 13, 19, 12, 39, 393098), datetime.datetime(2019, 1, 13, 19, 12, 39, 393105), datetime.datetime(2019, 1, 13, 19, 24, 20, 318015), 11, 7, 2434, 10, 1, 0, 2, -1, -1, -1, 0, 'mst42737space1', None, None, 0, 0, 0, 1, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 118, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2019, 1, 13, 19, 12, 39, 261496), 0, ' ', None, None, 'N', 'MST42737', ' ', ' ', ' ', datetime.date(2019, 1, 13), ' ', 'N', 'R', 'N', -1.0, None),
 ('MST42737', 'JOB_HISTORY', 'MST42737', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2019, 1, 13, 19, 12, 39, 403652), datetime.datetime(2019, 1, 13, 19, 12, 39, 540842), datetime.datetime(2019, 1, 13, 19, 12, 39, 540849), datetime.datetime(2019, 1, 13, 19, 26, 25, 705772), 4, 8, 2434, 10, 1, 0, 2, -1, -1, -1, 0, 'mst42737space1', None, None, 0, 0, 0, 2, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 43, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2019, 1, 13, 19, 12, 39, 403652), 0, ' ', None, None, 'N', 'MST42737', ' ', ' ', ' ', datetime.date(2019, 1, 13), ' ', 'N', 'R', 'N', -1.0, None),
 ('MST42737', 'JOBS', 'MST42737', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2019, 1, 13, 19, 12, 39, 552816), datetime.datetime(2019, 1, 13, 19, 12, 39, 686520), datetime.datetime(2019, 1, 13, 19, 12, 39, 686527), datetime.datetime(2019, 1, 13, 19, 27, 8, 440290), 4, 9, 2434, 10, 1, 0, 2, -1, -1, -1, 0, 'mst42737space1', None, None, 0, 0, 0, 1, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 51, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2019, 1, 13, 19, 12, 39, 552816), 0, ' ', None, None, 'N', 'MST42737', ' ', ' ', ' ', datetime.date(2019, 1, 13), ' ', 'N', 'R', 'N', -1.0, None),
 ('MST42737', 'DEPARTMENTS', 'MST42737', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2019, 1, 13, 19, 12, 39, 696083), datetime.datetime(2019, 1, 13, 19, 12, 39, 831155), datetime.datetime(2019, 1, 13, 19, 12, 39, 831162), datetime.datetime(2019, 1, 13, 19, 27, 8, 419167), 4, 10, 2434, 3, 1, 0, 2, -1, -1, -1, 0, 'mst42737space1', None, None, 0, 0, 0, 1, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 57, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2019, 1, 13, 19, 12, 39, 696083), 0, ' ', None, None, 'N', 'MST42737', ' ', ' ', ' ', datetime.date(2019, 1, 13), ' ', 'N', 'R', 'N', -1.0, None),
 ('MST42737', 'LOCATIONS', 'MST42737', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2019, 1, 13, 19, 12, 39, 840631), datetime.datetime(2019, 1, 13, 19, 12, 39, 972757), datetime.datetime(2019, 1, 13, 19, 12, 39, 972766), datetime.datetime(2019, 1, 13, 19, 27, 8, 396619), 2, 11, 2434, 3, 1, 0, 2, -1, -1, -1, 0, 'mst42737space1', None, None, 0, 0, 0, 2, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 28, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2019, 1, 13, 19, 12, 39, 840631), 0, ' ', None, None, 'N', 'MST42737', ' ', ' ', ' ', datetime.date(2019, 1, 13), ' ', 'N', 'R', 'N', -1.0, None),
 ('MST42737', 'SCHOOL', 'MST42737', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2019, 1, 13, 23, 33, 55, 890594), datetime.datetime(2019, 1, 13, 23, 33, 55, 890594), datetime.datetime(2019, 1, 13, 23, 33, 56, 608447), None, 79, 12, 2434, -1, -1, -1, -1, -1, -1, -1, -1, 'mst42737space1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, -1, 'N', 999, -1, -1.0, -1, -1.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', -1, datetime.datetime(2019, 1, 13, 23, 33, 55, 890594), 0, ' ', None, None, 'N', 'MST42737', ' ', ' ', ' ', datetime.date(1, 1, 1), ' ', 'N', 'R', 'N', -1.0, None)]

In [6]:
%sql SELECT * FROM SCHOOL LIMIT 10;

 * ibm_db_sa://mst42737:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(0, 610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl ', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99.0, 'Very Strong', '99', 'Strong', 74.0, 'Strong', 66.0, 'Strong', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', 2.0, '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', 69.7, 64.4, 0.2, 0.9, 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', 1171699.4579999999, 1915829.428, 41.92449696, -87.64452163, 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)'),
 (1, 610281, 'Adam Clayton Powell Paideia Community Academy Elementary School', 'ES', '7511 S South Shore Dr ', 'Chicago', 'IL', 60649, '(773) 535-6650', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610281.pdf', 'Skyway Elementary Network', 'SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 54.0, 'Strong', '66', 'Strong', 74.0, 'Very Strong', 84.0, 'Strong', '63', 'Strong', '76', 'Weak', '46', 'Average', '50', '95.60%', 15.7, '95.30%', '100.00%', '62.4', '51.7', '21.9', '15.1', '29', '42.8', '38.5', '27.4', '44.8', '42.7', '14.1', '34.4', 16.8, 16.5, 0.7, 1.4, 'Green', 'Green', '17.2', '27.3', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 521, 46, 'NDA', 1196129.985, 1856209.466, 41.76032435, -87.55673627, 43, 'SOUTH SHORE', 7, 4, '(41.76032435, -87.55673627)'),
 (2, 610185, 'Adlai E Stevenson Elementary School', 'ES', '8010 S Kostner Ave ', 'Chicago', 'IL', 60652, '(773) 535-2280', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610185.pdf', 'Midway Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 2', 'No', 'Strong', 61.0, 'NDA', 'NDA', 'Average', 50.0, 'Weak', 36.0, 'NDA', 'NDA', 'NDA', 'NDA', 'Average', '47', 'Weak', '41', '95.70%', 2.3, '94.70%', '98.30%', '53.7', '26.6', '38.3', '34.7', '43.7', '57.3', '48.8', '39.2', '46.8', '44', '7.5', '21.9', 18.3, 15.5, -0.9, -1.0, 'Red', 'Red', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 1324, 44, 'NDA', 1148427.165, 1851012.215, 41.74711093, -87.73170248, 70, 'ASHBURN', 13, 8, '(41.74711093, -87.73170248)'),
 (3, 609993, 'Agustin Lara Elementary Academy', 'ES', '4619 S Wolcott Ave ', 'Chicago', 'IL', 60609, '(773) 535-4389', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609993.pdf', 'Pershing Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 56.0, 'Average', '44', 'Average', 45.0, 'Weak', 37.0, 'Strong', '65', 'Average', '48', 'Average', '53', 'Strong', '58', '95.50%', 10.4, '95.80%', '100.00%', '76.9', 'NDA', '26', '24.7', '61.8', '49.7', '39.2', '27.2', '69.7', '60.6', '9.1', '18.2', 11.1, 9.6, 0.9, 2.4, 'Green', 'Green', '42.9', '25', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 556, 42, 'NDA', 1164504.29, 1873959.199, 41.8097569, -87.6721446, 61, 'NEW CITY', 20, 9, '(41.8097569, -87.6721446)'),
 (4, 610513, 'Air Force Academy High School', 'HS', '3630 S Wells St ', 'Chicago', 'IL', 60609, '(773) 535-1590', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610513.pdf', 'Southwest Side High School Network', 'SOUTHWEST SIDE COLLABORATIVE', 'NDA', 'Standard', 'Not on Probation', 'Not Enough Data', 'Yes', 'Average', 49.0, 'Strong', '60', 'Strong', 60.0, 'Average', 55.0, 'Average', '45', 'Average', '54', 'Average', '53', 'Average', '49', '93.30%', 15.6, '96.90%', '100.00%', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', None, None, None, None, 'NDA', 'NDA', 'NDA', 'NDA', '14.6', '14.8', 'NDA', '16', '1.4', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 302, 40, '91.8', 1175177.622, 1880745.126, 41.82814609, -87.63279369, 34, 'ARMOUR SQUARE', 11, 9, '(41.82814609, -87.63279369)'),
 (5, 610212, 'Albany Park Multicultural Academy', 'MS', '4929 N Sawyer Ave ', 'Chicago', 'IL', 60625, '(773) 534-5108', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610212.pdf', "O'Hare Elementary Network", 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'Yes', 'Standard', 'Not on Probation', 'Level 1', 'No', 'Strong', 66.0, 'Weak', '37', 'Strong', 66.0, 'Strong', 71.0, 'Average', '43', 'Average', '50', 'Weak', '46', 'Average', '51', '97.00%', 2.3, '96.90%', '100.00%', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', '60.7', '39.8', '53.7', '59.8', '17.5', '20.8', 34.5, 15.6, 0.2, 0.3, 'Yellow', 'Yellow', '29.2', '50', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 266, 31, 'NDA', 1153858.196, 1932691.8909999998, 41.971143299999994, -87.70962725, 14, 'ALBANY PARK', 39, 17, '(41.9711433, -87.70962725)'),
 (6, 609720, 'Albert G Lane Technical High School', 'HS', '2501 W Addison St ', 'Chicago', 'IL', 60618, '(773) 534-5400', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609720.pdf', 'North-Northwest Side High School Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'Yes', 'Standard', 'Not on Probation', 'Level 1', 'No', 'Very Strong', 88.0, 'NDA', 'NDA', 'Strong', 62.0, 'Average', 52.0, 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', '96.30%', 2.1, '96.20%', '99.40%', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', None, None, None, None, 'NDA', 'NDA', 'NDA', 'NDA', '19.1', '19.5', '19.9', '20.1', '1', '23.4', '3.5', '67.9', '92.2', '79.8', 4368, 35, '90.7', 1158975.392, 1923791.705, 41.94661693, -87.69105603, 5, 'NORTH CENTER', 47, 19, '(41.94661693, -87.69105603)'),
 (7, 610342, 'Albert R Sabin Elementary Magnet School', 'ES', '2216 W Hirsch St ', 'Chicago', 'IL', 60622, '(773) 534-4491', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610342.pdf', 'Fulton Elementary Network', 'WEST SIDE COLLABORATIVE', 'No', 'Standard', 'Probation', 'Level 3', 'No', 'Strong', 67.0, 'NDA', 'NDA', 'Weak', 30.0, 'Very Weak', 18.0, 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', '94.70%', 28.1, '95.00%', '100.00%', '56.3', 'NDA', '33.5', '33.5', '49.5', '49.5', '27.4', '39.3', '35.5', '44.4', '25', '23.4', 18.0, 12.8, -1.8, 0.1, 'Red', 'Yellow', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 620, 35, 'NDA', 1161265.299, 1909314.592, 41.90684338, -87.68304259, 24, 'WEST TOWN', 1, 14, '(41.90684338, -87.68304259)'),
 (8, 610524, 'Alcott High School for the Humanities', 'HS', '2957 N Hoyne Ave ', 'Chicago', 'IL', 60618, '(773) 534-5979', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610524.pdf', 'North-Northwest Side High School Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'NDA', 'Standard', 'Not on Probation', 'Not Enough Data', 'No', 'Strong', 70.0, 'NDA', 'NDA', 'Strong', 67.0, 'Average', 51.0, 'NDA', 'NDA', 'NDA', 'NDA', 'Strong', '57', 'Weak', '43', '92.70%', 7.1, '96.90%', '100.00%', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', None, None, None, None, 'NDA', 'NDA', 'NDA', 'NDA', '14.7', '13.7', 'NDA', '16', '1.3', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 232, 33, '87.6', 1161870.5559999999, 1919857.44, 41.93576106, -87.68052441, 5, 'NORTH CENTER', 1, 19, '(41.93576106, -87.68052441)'),
 (9, 610209, 'Alessandro Volta Elementary School', 'ES', '4950 N Avers Ave ', 'Chicago', 'IL', 60625, '(773) 534-5080', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610209.pdf', "O'Hare Elementary Network", 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 2', 'No', 'Average', 43.0, 'Strong', '61', 'Weak', 28.0, 'Weak', 37.0, 'Strong', '62', 'Average', '56', 'Average', '51', 'Average', '53', '96.40%', 22.5, '95.90%', '100.00%', '63.9', '43.2', '51.3', '32.9', '50.7', '70', '52.5', '31.3', '59.8', '57.6', '16.5', '24.7', 19.9, 14.2, 0.3, -0.4, 'Yellow', 'Yellow', '31.6', '65.2', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 1023, 31, 'NDA', 1149774.095, 1932831.1509999998, 41.97160605, -87.72464139, 14, 'ALBANY PARK', 39, 17, '(41.97160605, -87.72464139)')]

Double-click __here__ for a hint

<!--
In Db2 the system catalog table called SYSCAT.TABLES contains the table metadata
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES where TABSCHEMA='YOUR-DB2-USERNAME'

or, you can retrieve list of all tables where the schema name is not one of the system created ones:

%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES \
      where TABSCHEMA not in ('SYSIBM', 'SYSCAT', 'SYSSTAT', 'SYSIBMADM', 'SYSTOOLS', 'SYSPUBLIC')
      
or, just query for a specifc table that you want to verify exists in the database
%sql select * from SYSCAT.TABLES where TABNAME = 'SCHOOLS'

-->

### Query the database system catalog to retrieve column metadata

##### The SCHOOLS table contains a large number of columns. How many columns does this table have?

In [7]:
# type in your query to retrieve the number of columns in the SCHOOLS table
%sql SELECT count(colname) FROM syscat.columns WHERE tabname='SCHOOL';

 * ibm_db_sa://mst42737:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('79'),)]

Double-click __here__ for a hint

<!--
In Db2 the system catalog table called SYSCAT.COLUMNS contains the column metadata
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql select count(*) from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS'

-->

Now retrieve the the list of columns in SCHOOLS table and their column type (datatype) and length.

In [9]:
# type in your query to retrieve all column names in the SCHOOLS table along with their datatypes and length
%sql SELECT colname, typename FROM syscat.columns WHERE tabname='SCHOOL' ORDER BY COLNAME;

 * ibm_db_sa://mst42737:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('10th Grade PLAN (2009) ', 'CLOB'),
 ('10th Grade PLAN (2010) ', 'CLOB'),
 ('11th Grade Average ACT (2011) ', 'CLOB'),
 ('9th Grade EXPLORE (2009) ', 'CLOB'),
 ('9th Grade EXPLORE (2010) ', 'CLOB'),
 ('AVERAGE_STUDENT_ATTENDANCE', 'CLOB'),
 ('Adequate Yearly Progress Made? ', 'CLOB'),
 ('Average Teacher Attendance', 'CLOB'),
 ('COLLEGE_ENROLLMENT', 'BIGINT'),
 ('COMMUNITY_AREA_NAME', 'CLOB'),
 ('COMMUNITY_AREA_NUMBER', 'BIGINT'),
 ('CPS Performance Policy Level', 'CLOB'),
 ('CPS Performance Policy Status', 'CLOB'),
 ('City', 'CLOB'),
 ('Collaborative Name', 'CLOB'),
 ('College Eligibility %', 'CLOB'),
 ('College Enrollment Rate %', 'CLOB'),
 ('Elementary, Middle, or High School', 'CLOB'),
 ('Environment Icon ', 'CLOB'),
 ('Environment Score', 'DOUBLE'),
 ('Family Involvement Icon', 'CLOB'),
 ('Family Involvement Score', 'CLOB'),
 ('Freshman on Track Rate %', 'CLOB'),
 ('General Services Route ', 'BIGINT'),
 ('Gr-8 Explore Math %', 'CLOB'),
 ('Gr-8 Explore Read %', 'CLOB'),
 ('Gr3-5 Grade Level Math %', 'CLOB'),
 ('Gr3-5 Grade Level Read % ', 'CLOB'),
 ('Gr3-5 Keep Pace Math %', 'CLOB'),
 ('Gr3-5 Keep Pace Read %', 'CLOB'),
 ('Gr6-8 Grade Level Math %', 'CLOB'),
 ('Gr6-8 Grade Level Read %', 'CLOB'),
 ('Gr6-8 Keep Pace Math%', 'CLOB'),
 ('Gr6-8 Keep Pace Read %', 'CLOB'),
 ('Graduation Rate %', 'CLOB'),
 ('HEALTHY_SCHOOL_CERTIFIED', 'CLOB'),
 ('ISAT Exceeding Math %', 'DOUBLE'),
 ('ISAT Exceeding Reading % ', 'DOUBLE'),
 ('ISAT Value Add Color Math', 'CLOB'),
 ('ISAT Value Add Color Read', 'CLOB'),
 ('ISAT Value Add Math', 'DOUBLE'),
 ('ISAT Value Add Read', 'DOUBLE'),
 ('Individualized Education Program Compliance Rate ', 'CLOB'),
 ('Instruction Icon ', 'CLOB'),
 ('Instruction Score', 'DOUBLE'),
 ('Latitude', 'DOUBLE'),
 ('Leaders Icon ', 'CLOB'),
 ('Leaders Score ', 'CLOB'),
 ('Link ', 'CLOB'),
 ('Location', 'CLOB'),
 ('Longitude', 'DOUBLE'),
 ('NAME_OF_SCHOOL', 'CLOB'),
 ('Net Change EXPLORE and PLAN', 'CLOB'),
 ('Net Change PLAN and ACT', 'CLOB'),
 ('Network Manager', 'CLOB'),
 ('Parent Engagement Icon ', 'CLOB'),
 ('Parent Engagement Score', 'CLOB'),
 ('Parent Environment Icon', 'CLOB'),
 ('Parent Environment Score', 'CLOB'),
 ('Phone Number', 'CLOB'),
 ('Pk-2 Literacy %', 'CLOB'),
 ('Pk-2 Math %', 'CLOB'),
 ('Police District', 'BIGINT'),
 ('Rate of Misconducts (per 100 students) ', 'DOUBLE'),
 ('SAFETY_SCORE', 'DOUBLE'),
 ('Safety Icon ', 'CLOB'),
 ('School ID', 'BIGINT'),
 ('State', 'CLOB'),
 ('Street Address', 'CLOB'),
 ('Students Passing  Algebra %', 'CLOB'),
 ('Students Taking  Algebra %', 'CLOB'),
 ('Teachers Icon ', 'CLOB'),
 ('Teachers Score', 'CLOB'),
 ('Track Schedule', 'CLOB'),
 ('Ward', 'BIGINT'),
 ('X_COORDINATE', 'DOUBLE'),
 ('Y_COORDINATE', 'DOUBLE'),
 ('ZIP Code', 'BIGINT'),
 ('index', 'BIGINT')]

Double-click __here__ for the solution.

<!-- Solution:

%sql select COLNAME, TYPENAME, LENGTH from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS'

or

%sql select distinct(NAME), COLTYPE, LENGTH from SYSIBM.SYSCOLUMNS where TBNAME = 'SCHOOLS'

-->

### Questions
1. Is the column name for the "SCHOOL ID" attribute in upper or mixed case?
1. What is the name of "Community Area Name" column in your table? Does it have spaces?
1. Are there any columns in whose names the spaces and paranthesis (round brackets) have been replaced by the underscore character "_"?

## Problems

### Problem 1

##### How many Elementary Schools are in the dataset?

In [17]:
%sql SELECT count("Elementary, Middle, or High School") FROM SCHOOL WHERE "Elementary, Middle, or High School"='ES'

 * ibm_db_sa://mst42737:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('462'),)]

Double-click __here__ for a hint

<!--
Which column specifies the school type e.g. 'ES', 'MS', 'HS'?
-->

Double-click __here__ for another hint

<!--
Does the column name have mixed case, spaces or other special characters?
If so, ensure you use double quotes around the "Name of the Column"
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql select count(*) from SCHOOLS where "Elementary, Middle, or High School" = 'ES'

Correct answer: 462

-->

### Problem 2

##### What is the highest Safety Score?

In [18]:
%sql SELECT MAX(SAFETY_SCORE) FROM SCHOOL

 * ibm_db_sa://mst42737:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(99.0,)]

Double-click __here__ for a hint

<!--
Use the MAX() function
-->

Double-click __here__ for the solution.

<!-- Hint:

%sql select MAX(Safety_Score) AS MAX_SAFETY_SCORE from SCHOOLS

Correct answer: 99
-->

### Problem 3

##### Which schools have highest Safety Score?

In [19]:
sql SELECT NAME_OF_SCHOOL FROM SCHOOL WHERE SAFETY_SCORE=(SELECT MAX(SAFETY_SCORE) FROM SCHOOL)

 * ibm_db_sa://mst42737:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Abraham Lincoln Elementary School',),
 ('Alexander Graham Bell Elementary School',),
 ('Annie Keller Elementary Gifted Magnet School',),
 ('Augustus H Burley Elementary School',),
 ('Edgar Allan Poe Elementary Classical School',),
 ('Edgebrook Elementary School',),
 ('Ellen Mitchell Elementary School',),
 ('James E McDade Elementary Classical School',),
 ('James G Blaine Elementary School',),
 ('LaSalle Elementary Language Academy',),
 ('Mary E Courtenay Elementary Language Arts Center',),
 ('Northside College Preparatory High School',),
 ('Northside Learning Center High School',),
 ('Norwood Park Elementary School',),
 ('Oriole Park Elementary School',),
 ('Sauganash Elementary School',),
 ('Stephen Decatur Classical Elementary School',),
 ('Talman Elementary School',),
 ('Wildwood Elementary School',)]

Double-click __here__ for the solution.

<!-- Solution:
In the previous problem we found out that the highest Safety Score is 99, so we can use that as an input in the where clause:

%sql select Name_of_School, Safety_Score from SCHOOLS where Safety_Score = 99

or, a better way:

%sql select Name_of_School, Safety_Score from SCHOOLS where \
  Safety_Score= (select MAX(Safety_Score) from SCHOOLS)


Correct answer: several schools with with Safety Score of 99.
-->

### Problem 4

##### What are the top 10 schools with the highest "Average Student Attendance"?

In [46]:
#sql SELECT "NAME_OF_SCHOOL", "AVERAGE_STUDENT_ATTENDANCE" FROM SCHOOL ORDER BY "AVERAGE_STUDENT_ATTENDANCE" DESC NULLS LAST LIMIT 10
%sql select Name_of_School, Average_Student_Attendance from SCHOOL \
    order by Average_Student_Attendance desc nulls last limit 10

 * ibm_db_sa://mst42737:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0134N  Improper use of a string column, host variable, constant, or function "AVERAGE_STUDENT_ATTENDANCE".  SQLSTATE=42907 SQLCODE=-134 [SQL: 'select Name_of_School, Average_Student_Attendance from SCHOOL      order by Average_Student_Attendance desc nulls last limit 10'] (Background on this error at: http://sqlalche.me/e/f405)

Double-click __here__ for the solution.

<!-- Solution:

%sql select Name_of_School, Average_Student_Attendance from SCHOOLS \
    order by Average_Student_Attendance desc nulls last limit 10 

-->

### Problem 5

##### Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance

Double-click __here__ for the solution.

<!-- Solution:

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     order by Average_Student_Attendance \
     fetch first 5 rows only

-->

### Problem 6

##### Now remove the '%' sign from the above result set for Average Student Attendance column

Double-click __here__ for a hint

<!--
Use the REPLACE() function to replace '%' with ''
See documentation for this function at:
https://www.ibm.com/support/knowledgecenter/en/SSEPGG_10.5.0/com.ibm.db2.luw.sql.ref.doc/doc/r0000843.html
-->

Double-click __here__ for the solution.

<!-- Hint:

%sql SELECT Name_of_School, REPLACE(Average_Student_Attendance, '%', '') \
     from SCHOOLS \
     order by Average_Student_Attendance \
     fetch first 5 rows only

-->

### Problem 7

##### Which Schools have Average Student Attendance lower than 70%?

Double-click __here__ for a hint

<!--
The datatype of the "Average_Student_Attendance" column is varchar.
So you cannot use it as is in the where clause for a numeric comparison.
First use the CAST() function to cast it as a DECIMAL or DOUBLE
e.g. CAST("Column_Name" as DOUBLE)
or simply: DECIMAL("Column_Name")
-->

Double-click __here__ for another hint

<!--
Don't forget the '%' age sign needs to be removed before casting
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     where CAST ( REPLACE(Average_Student_Attendance, '%', '') AS DOUBLE ) < 70 \
     order by Average_Student_Attendance
     
or,

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     where DECIMAL ( REPLACE(Average_Student_Attendance, '%', '') ) < 70 \
     order by Average_Student_Attendance

-->

### Problem 8

##### Get the total College Enrollment for each Community Area

Double-click __here__ for a hint

<!--
Verify the exact name of the Enrollment column in the database
Use the SUM() function to add up the Enrollments for each Community Area
-->

Double-click __here__ for another hint

<!--
Don't forget to group by the Community Area
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from SCHOOLS \
   group by Community_Area_Name 

-->

### Problem 9

##### Get the 5 Community Areas with the least total College Enrollment  sorted in ascending order

Double-click __here__ for a hint

<!--
Order the previous query and limit the number of rows you fetch
-->

Double-click __here__ for the solution.

<!-- Solution:

%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from SCHOOLS \
   group by Community_Area_Name \
   order by TOTAL_ENROLLMENT asc \
   fetch first 5 rows only

-->

### Problem 10

##### Get the hardship index for the community area which has College Enrollment of 4638

Double-click __here__ for the solution.

<!-- Solution:
NOTE: For this solution to work the CHICAGO_SOCIOECONOMIC_DATA table 
      as created in the last lab of Week 3 should already exist

%%sql 
select hardship_index 
   from chicago_socioeconomic_data CD, schools CPS 
   where CD.ca = CPS.community_area_number 
      and college_enrollment = 4368

-->

### Problem 11

##### Get the hardship index for the community area which has the highest value for College Enrollment

Double-click __here__ for the solution.

<!-- Solution:
NOTE: For this solution to work the CHICAGO_SOCIOECONOMIC_DATA table 
      as created in the last lab of Week 3 should already exist

%sql select ca, community_area_name, hardship_index from chicago_socioeconomic_data \
   where ca in \
   ( select community_area_number from schools order by college_enrollment desc limit 1 )

-->

## Summary

##### In this lab you learned how to work with a real word dataset using SQL and Python. You learned how to query columns with spaces or special characters in their names and with mixed case names. You also used built in database functions and practiced how to sort, limit, and order result sets, as well as used sub-queries and worked with multiple tables.

Copyright &copy; 2018 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).